<% content_for :head do %>
  <%= stylesheet_link_tag 'show' %>
<% end %>

<div class="main-container">
		<h3 class="category-header"> Gaming </h3>
    <div class="item-container">
			<% @items.each do |item| %>
				<div class="single-item-container">
					<div class="image-container">
							<%= image_tag "gaming.jpg", class:"item-image" %>
					</div>
					<p class="item-name"><%= item.item_name %></p>
					<p class="item-price">$<%= item.price %></p>
				</div>
			<% end %>
    </div>
</div>