PORT=3001

# GOOGLE CLOUD credentials
PROJECT_ID="<YOUR_PROJECT_ID"
SPEECH_CREDENTIALS="config/credentials/<NAME OF SPEECH-TO-TEXT JSON FILE>"
GCS_CREDENTIALS="config/credentials/<NAME OF GCS JSON FILE>"
GOOGLE_APPLICATION_CREDENTIALS="config/credentials/gcs**.json"
GCS_BUCKET_NAME="<YOUR-BUCKET-NAME"

HOST=database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1111
POSTGRES_DB="commerce"